<div class="form-error" ng-message="required" >This field is required</div>					
<div class="form-error" ng-message="email" >Enter a valid email</div>					
<div class="form-error" ng-message="minlength" >Field too short</div>			