<ion-view view-title="Login"
          hide-back-button="true" >
	<ion-content padding="true"
	             scroll="false" >

		<!-- Form with floating labels -->
		<form ng-submit="login(loginForm)"
			novalidate="novalidate"
			name="loginForm" >
			<ion-list >
				<label class="item item-input item-floating-label"
					ng-class="{'has-error':loginForm.email.$invalid}" >
					<span class="input-label" >Email</span >
					<input type="email"
					       placeholder="Email"
					       ng-model="formData.email"
					       ng-required="true"
					       name="email" >
				</label >

				<div class="form-errors" ng-messages="loginForm.email.$error" >
					<div ng-messages-include="templates/form-errors.html" ></div>
				</div>

				<label class="item item-input item-floating-label"
					ng-class="{'has-error':loginForm.password.$invalid}" >
					<span class="input-label" >Password</span >
					<input type="password"
					       placeholder="Password"
					       ng-model="formData.password"
					       ng-required="true"
					       ng-minlength="6"
					       name="password" >
				</label >

				<div class="form-errors" ng-messages="loginForm.password.$error" >
					<div ng-messages-include="templates/form-errors.html" ></div>
				</div>

			</ion-list >
			<button class="button button-royal button-block"
			        type="submit" >Login
			</button >
		</form >
		<p class="text-center" >
			Don't have an account?
			<a nav-direction="enter"
			   ui-sref="signup" >Sign Up
			</a >
		</p >

	</ion-content >
</ion-view >
