/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$royal: #73C8A9; 
$positive: #73C8A9; 
$dark: #373B44; 
$stable: #DEE1B6; 
$assertive: #BD5532; 

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import url(http://fonts.googleapis.com/css?family=Domine:400,700); 
$font-family-base: 'Domine', serif; 
$ionicons-font-path: "../lib/ionic/fonts" !default; 
@import "www/lib/ionic/scss/ionic"; 
@import "www/scss/form.scss"; 
@import "www/scss/styles.scss";




